<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客的详细页</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/markdown.css">
    <style>
        .wraper{
            margin:30px;
        }
        .container{
            display: flex;
            width: 100%;
        }
        #md,#html{
            border:1px solid #ddd;
            flex:1 1 auto;
        }
        #html{background-color: #fff;padding:5px;}
        #md{
            padding:5px;
            margin-right:10px;
            background-color: #111;
            flex:0 0  400px;
            color:#fff;
            box-shadow: none;
            border:none;
            min-height: 600px;
        }
        
    </style>
</head>
<body>
    <div class="wraper">
        <div>
            <h2>添加文章</h2>
            <div>
                <input type="button" value="保存" id="btnSave">
            </div>
        </div>
        <div>文章标题：<input id="title" name="title" placeholder="请输入文章名" value=""></div>
        <div>文章关键字：<input id="keywords" name="keywords" placeholder="请输入文章关键字" value=""></div>
        <div>分类:
            <input type="radio" name="categroy" value="js" />js
            <input type="radio" name="categroy" value="css" />css
            <input type="radio" name="categroy" value="html" />html

            <input type="radio" name="categroy" value="vue" />vue
            <input type="radio" name="categroy" value="react" />react
        </div>
        <div class="container">
                <textarea id="md" class="form-control"  placeholder="请输入Markdown代码"># 背景 
                    # 基本概念 
                    # 知识点 
                    # 小结 
                    # 参考资料</textarea>
                <div id="html" class="markdown"></div>
            </div>
        </div>
    </div>

    </body>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>

    <script src="../../js/marked.min.js"></script>
    <script src="../../js/pasteImg.js"></script>
    <script>
        // 节流函数
        function thottle(f,delay=500){
            var t = Date.now();
            var timer = null;
            return function(){
                timer = setTimeout(f,delay)
                // console.info(Date.now(),t,Date.now()-t)
                if(Date.now() - t > delay){
                    f();
                    t = Date.now();
                    clearTimeout(timer)
                }
            }
        }
        // 把markdown --> html
        function mark(){
            let str = document.getElementById("md").value;
            document.getElementById("html").innerHTML = marked(str)
        }
        let f = thottle(mark)

        document.getElementById("md").addEventListener("keyup",f);
        
        
        // 添加功能
        document.getElementById("btnSave").addEventListener("click",function(){
            let data ={
                "title":document.getElementById("title").value,
                "keywords":document.getElementById("keywords").value,
                "content":document.getElementById("md").value,
                "categroy":$('input[name="categroy"]:checked ').val()
            }
            return fetch('./add', {
                body: JSON.stringify(data), // must match 'Content-Type' header
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, same-origin, *omit
                headers: {
                'content-type': 'application/json'
                },
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // *client, no-referrer
            })
            .then(rs => rs.json()).then(data=>{
                if(window.confirm("添加成功，是否回到管理主页")){
                    window.open("./admin")
                }
            })
        })

        //聊天内容框 插入文本或者其他元素后，移动置光标到最新处
        function insertHtmlAtCaret(childElement) {
            var sel, range;
            if (window.getSelection) {
                // IE9 and non-IE
                sel = window.getSelection();
                if (sel.getRangeAt && sel.rangeCount) {
                    range = sel.getRangeAt(0);
                    range.deleteContents();

                    var el = document.createElement("div");
                    el.appendChild(childElement);
                    var frag = document.createDocumentFragment(), node, lastNode;
                    while ((node = el.firstChild)) {
                        lastNode = frag.appendChild(node);
                    }

                    range.insertNode(frag);
                    if (lastNode) {
                        range = range.cloneRange();
                        range.setStartAfter(lastNode);
                        range.collapse(true);
                        sel.removeAllRanges();
                        sel.addRange(range);
                    }
                }
            }
            else if (document.selection && document.selection.type != "Control") {
                // IE < 9
                //document.selection.createRange().pasteHTML(html);
            }
        }

        


    </script>
    
</body>
</html>