/**
导航条：多级嵌套效果。目前最多支持两级。
*/
.c-nav > ul {
  display: flex;
}
.c-nav .nav_item {
  padding: 0.5em 1em;
  curor: pointer;
  color: #30a;
  border-radius: .1em;
  position: relative;
}
.c-nav .nav_item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.c-nav .sub_item_container {
  padding-right: 1.75em;
  position: relative;
}
.c-nav .sub_item_container:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-top-color: inherit;
  position: absolute;
  top: 1em;
  right: 0.4em;
}
.c-nav .sub_item_container .sub_item_container:after {
  border: 0.4em solid transparent;
  border-left-color: inherit;
}
.c-nav .sub_item_container .sub_item_list {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0em;
  top: 2.5em;
  flex-direction: column;
}
.c-nav .sub_item_container .sub_item_list .sub_item_list {
  color: red;
  right: 0;
  top: 0em;
  transform: translateX(100%);
  flex-direction: row;
}
.c-nav .sub_item_container:hover > .sub_item_list {
  display: flex;
}
.c-timeline {
  padding: 1rem;
}
.c-timeline dt,
.c-timeline dl,
.c-timeline dd {
  margin: 0;
  padding: 0;
}
.c-timeline dt {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}
.c-timeline dd {
  line-height: 1.8;
  word-wrap: break-word;
}
.c-timeline dd a {
  color: #2479cc;
}
.c-timeline dd span {
  font-size: 0.8rem;
}
.c-footer {
  width: 98%;
  margin: auto;
  border-top: 1px solid #ccc;
  text-align: center;
  line-height: 3rem;
}
.c-article {
  padding: 1rem 0;
}
.c-article li {
  list-style: square;
}
.c-article .c-article_datetime {
  float: right;
  margin-right: 1rem;
  color: #ccc;
  font-size: 0.8rem;
  font-weight: normal;
}
.c-article .c-article_title a {
  color: #58666e;
}
.c-article .c-article_title a:hover {
  color: #2479cc;
}
.c-article .c-article_digest {
  line-height: 1.8;
}
.c-markdown blockquote {
  background-color: #f7f7f7;
}
.c-markdown h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ececec;
}
.c-markdown code {
  display: block;
  background-color: #333;
  padding: 5px;
  color: #fff;
  position: relative;
}
.c-markdown pre {
  position: relative;
}
.c-markdown pre .codecopy {
  position: absolute;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  top: 3px;
  right: 3px;
}
