
body > header{
    position: relative;
    line-height: 80px;
    background-color:rgba(255,255,255,.1);
    margin-bottom:10px;
    padding:0 30px;
}
body > header >nav{
    margin-left:auto;
}
.bg{
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    /* z-index: -10; */
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
    background-color: rgb(64, 64, 64);
    background: url(../img/bg.jpg);

}
.container{
    position: relative;
    width: 80%;
    margin: 0 auto;
    
}
article{
    padding:20px;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 1px 1px 1px #333;
    margin-bottom: 10px;
}
article blockquote{
    background-color: #ccc;
}
article > .title{
    color:#333;
}
article > .digest{
    color:rgba(0, 0, 0, .5)
}
article >.dateTime{
    color:#888;
}
.otherlink{
    display: flex;
    justify-content: space-between;
}

.flexa{
    display: flex;
    align-items: center;
}

