header {
  background-color: #fff;
  height: 5rem;
  margin-bottom: 10px;
}
footer {
  margin: 10px auto;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  max-width: 920px;
}
.header-container {
  display: flex;
  max-width: 960px;
  margin: auto;
  height: 5rem;
}
nav {
  height: 5rem;
  line-height: 5rem;
}
.blog {
  width: 960px;
  display: flex;
  margin: 0 20px;
  margin: 10px auto;
  position: relative;
}
.blog article {
  background: #fff;
  min-width: 900px;
  margin-right: 20px;
  padding: 10px;
}
.blog article blockquote {
  background-color: #f7f7f7;
}
.blog article h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ececec;
}
.blog .catalogue {
  position: fixed;
  right: 30px;
  top: 70px;
  width: 240px;
  background: #fff;
  padding: 1em;
}
.blog .catalogue .title {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ececec;
}
.top-btn {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  margin: 1rem 0 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  color: #909090;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.top-btn::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  position: absolute;
  transform: translate(85%, 50%);
  border-bottom-color: #999;
}
.control {
  position: absolute;
  top: 0;
  left: -30px;
}
.control span {
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  background-color: #fff;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.blog code {
  display: block;
  background-color: #333;
  padding: 5px;
  color: #fff;
  position: relative;
}
.blog pre {
  position: relative;
}
.blog pre .codecopy {
  position: absolute;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  top: 3px;
  right: 3px;
}
