<%- include('header.ejs',{pageName:'about'})%>
    <div class=" col-right">
        <div class="h-p1">
            <h2>关于我</h2>
            <ul>
                <li>前九年是教师</li>
                <li>现在JD当程序员，努力成为前端工程师。</li>
                
            </ul>
        </div>
        <%- include('./footer.ejs')%>
    </div>

</body>
</html>