<%- include('header.ejs',{pageName:'about'})%>
    <div class=" col-right">
        <div class="h-p1">
            <h2>关于我</h2>
            <ul>
                <li>职业生涯第一阶段：高校软件技术专业讲师，教学管理者，培训学校讲师。</li>
                <li>职业生涯第二阶段：JD前端工程师。</li>
            </ul>
        </div>
        <%- include('./footer.ejs')%>
    </div>

</body>
</html>