<%- include('header.ejs',{pageName:'about'})%>
    <div class="container">
        <div class="about">

            <h2>关于我</h2>
            <ul>
                <li>教师</li>
            </ul>
        </div>
    </div>

    <%- include('./footer.ejs')%>
</body>
</html>