
<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客的详细页</title>
    <meta name=”Keywords” Content="<%=keywords%>">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/blogpage.css">
    <link rel="stylesheet" href="../css/markdown.css">
    <link href="../../img/favicon.ico" rel="SHORTCUT ICON">
    <!-- <link rel="stylesheet" href="../css/basic.css"> -->
</head>
<body>
        <a href="#" class="top-btn"></a>
    <header class="flexa"> 
        <div class="logo">
            <h1>个人博客</h1>
        </div>
        <nav>
            <a href="../index.html">主页</a>
            <a href="../categories.html">分类</a>
            <a href="../about.html">关于</a>   
        </nav>
    </header>